html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    background: rgb(52, 206, 142);
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}
#fl1_2_3{
    display: flex;
    flex-direction: row;
}
#fl2{
    display: flex;
    flex-direction: row-reverse;
}
#fl4_5_6{
    display: flex;
    flex-direction: column-reverse;
}
#fl7_8_9_10{
    display: flex;
    flex-direction: column;
}
#fl7_8{
    height: 100%;
    display: flex;
    flex-direction: row;
}
#fl9_10{
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

article {
    padding: 10px;
    margin: 10px;
    background: rgba(16, 233, 215, 0.178);
}

  